.contentBox {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.topImage {
  width: 100%;
  height: 300px;
  height: 100%;
  /* height: 20%;  */
}

.imageBox {
  background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg');
  height: 400px;

  width: 100%;
  background-size: cover;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.heading {
  font-family: Roboto;
  color: #ffffff;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .heading {
    text-align: center;
  }
}

.searchContainer {
  background-color: #33838a;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBox {
  height: 30px;
  width: 40%;
  outline: none;
}
.buttons {
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f20505;
  color: #ffffff;
  border-style: none;
  font-family: roboto;
}

.medicineImage {
  height: 150px;
  margin-right: 10px;
}

.listUl {
  list-style-type: none;
  margin-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
  background-color: lightgreen;
  height: 100vh;
}

.itemList {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.detailBox {
}

.medicineName {
  font-family: 'bebes nueva', Roboto;
  color: navy;
}

.getDetails {
  border-style: none;
  background-color: #6495ed;
  color: #ffffff;
  font-family: roboto;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
}

.noMedicines {
  text-align: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.failedContainer {
  margin-top: 40px;
}
.failed Header {
  text-align: center;
  font-family: roboto;
}
.Items {
  display: flex;
  align-items: center;
}
.name {
  font-family: 'bebes nueva', Roboto;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}
.value {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 450;
}
