.headerBackground {
  height: 100vh;
}
.topHeader {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 90px;
}
.leftMedicineSection {
  display: flex;
  align-items: center;
}

.siteName {
  font-family: Roboto;
  font-size: 22px;
}
.image1 {
  font-size: 40px;
  margin-right: 10px;
  color: #2abfbf;
}

.image2 {
  font-size: 30px;
  color: #33838a;
}

.bottomBox {
  display: flex;
  padding-top: 0px;
}
.tabsHeader {
  background-color: #f2f2f2;

  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10%;
}

.unList {
  list-style-type: none;
  padding-left: 2%;
  margin-top: 0px;
}
.listItem {
  display: flex;
  align-items: center;
  height: 40px;
}
.icon {
  margin-right: 5px;
  font-size: 20px;
}
.tabName {
  font-size: 19px;
  font-family: roboto;
  font-weight: 400;
}
.RightBox {
  width: 70%;
  height: 100vh;
  background-color: lightgreen;
}
.bmiDetails {
  background-color: orange;
  color: black;
  font-family: Roboto;
  border-style: None;
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
}
.listItem1 {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: greenyellow;
}
.bmiDetails1 {
  background-color: greenyellow;
  color: black;
  font-family: Roboto;
  border-style: None;
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
}
.background {
}
.background {
}
.background {
}
.background {
}
.background {
}
.background {
}
.background {
}
.background {
}
.background {
}
